<%#= render_sidebar_queries(RequestChangeDeadlineQuery, @project) %>

<!--<div id="sidebar">-->
<!--  <div id="sidebar_inner">-->
    <%# if content_for?(:easy_page_layout_service_box_primary_actions) %>
<!--      <div class="primary-actions">-->
        <%#= yield(:easy_page_layout_service_box_primary_actions) %>
<!--      </div>-->
    <%# end -%>
<!--    <div id="sidebar_content">-->
<!--      <div class="easy-scroller">-->
<!--        <div>-->
          <%# if content_for?(:easy_page_layout_service_box) || content_for?(:easy_page_layout_service_box_top) %>
<!--            <div id="easy_page_layout_service_box">-->
              <%#= yield(:easy_page_layout_service_box_top) %>
              <%#= yield(:easy_page_layout_service_box) %>
<!--            </div>-->
          <%# end -%>
          <%#= yield :sidebar %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div id="sidebar_footer">-->
<!--      <div id="sidebar_exports">-->
        <%#= yield :sidebar_exports %>
        <%#= view_layouts_base_sidebar_hook_response %>
<!--      </div>-->
<!--    </div>-->
<!--    <span class="sidebar-control"><a href="javascript:EASY.utils.toggleSidebar();" title="Toggle sidebar"></a></span>-->
<!--  </div>-->
<!--  <script type="text/javascript">-->
<!--      EASY.utils.loadSidebar();-->
<!--  </script>-->
<!--</div>-->